@media (max-width : 749px) {
    $font :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
%message {
    position: fixed;
    left: 30%;
    border-color: grey ;

}

#align2 {
    @extend %message;
    top: 40%;   
    width: 250px;
}
#google {
    color: red;
    font-size: 25px;
}
#align1 {
    @extend %message;
    top: 32%;
    width: 250px;
}
#align3 {
    @extend %message;
    top: 48%;
    width: 250px;
}
#align4 {
    @extend %message;
    top: 56%;
    width: 250px;
}
#align5{
    @extend %message;
    top: 64%;
    width: 250px;
    
}
#align6{
    position: fixed;
    left: 75%;
    top: 64%;
    width: 250px;
    border-color: grey;
}
#body {
    position: fixed;
    max-width: 700px;
}
#to{
    top: 64%;
    position: fixed;
    left: 68%;
}
#seach {
    background-color: #4d90fe;
    border: none;
    color: white;
    font-weight: bold;
    width: 150px ;
    height: 27px;
    white-space: nowrap;
    font-size: 12px;
    position: fixed;
    top: 72%;
    left: 75% ;
}
#seach:hover {
    border: solid black;
}
#images {
    position: fixed;
    left: 85%;
}
button {
    position: fixed;
    left: 75%
}
#find {
    position: fixed;
    left: 5%;
    top: 18%;
}
%left {
    position: fixed;
    left: 4%;
}
#line1 {
            @extend %left;
            top: 32%;
            
 }
#line2 {
            @extend %left;
            top: 40%;
        }
#line3{
            @extend %left;
            top: 48%;
            
        }
        #line4 {
            @extend %left;
            top: 56%;
        }
        #line5 
            {
                @extend %left;
                top: 64%;
            }
}
@media (min-width: 750px) {

    $font :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
      
    #google {
        color: red;
        font-size: 40px;
        ;
    }
    #images {
        position: fixed;
        left: 81%;
    }
    button {
        position: fixed;
        left: 75%
    }
    #find {
        position: fixed;
        left: 10%;
    }
    %message2 {
        position: fixed;
        left: 30%;
        border-color: grey;
    }
    #align2 {
            @extend %message2;
            top: 38%;
            width: 250px;
        }
        .margin {
            margin: 70px;
            top: 35%;
        }
        #google {
            margin: 20px;
        }
        %left2 {
            position: fixed;
            left: 10%;
        }
        #line1 {
            @extend %left2;
            top: 27%;
        }
        #line2 {
            @extend %left2;
            top: 38%;
        }
        #line3{
            @extend %left2;
            top: 50%;
        }
        #line4 {
            @extend %left2;
            top: 61%;
        }
        #line5 
            {
                @extend %left2;
                top: 72%;
            }
        
        #align1 {
            @extend %message2;
            top: 27%;
            width: 250px;
        }
        #align3 {
            @extend %message2;
            top: 50%;
            width: 250px;
            
        }
        #align4 {
            @extend %message2;
            top: 61%;
            width: 250px;
        }
        #align5{
            @extend %message2;
            top: 72%;
            width: 250px;
            
        }
        #align6{
            position: fixed;
            left: 70%;
            top: 72%;
            width: 250px;
            border-color: grey;
        }
        #to{
            top: 72%;
            position: fixed;
            left: 63%;
        }
        #seach {
            background-color: #4d90fe;
            border: none;
            color: white;
            font-weight: bold;
            width: 150px ;
            height: 27px;
            white-space: nowrap;
            font-size: 12px;
            position: fixed;
            left: 75% ;
            top: 80%;
        }
        #seach:hover {
            border: solid black;
        }
}