$font :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
@media (min-width : 700px) {
    $font :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
body {
        background-color: white;
        height: 100%;
        width: 100%;
    }

#round {
    border-radius: 15px;
    width: 450px;
    height: 20px;
    padding: 10px;
    position: absolute;
    top: 60%;
    right: 33%

}
#seach {
    position: absolute;
    left: 45%;
    top: 70%;
    width: 150px;
    border: none;
    font-family: $font;
    font-size: 100%;
    background-color: white;
}
#seach:hover{
    border: 1px solid gray;
}

button {
    background-color: white;
    font-weight: bolder;
    position: fixed;
    left: 80%;
}
#adv-button {
    background-color: white;
    font-weight: bolder;
    left: 85%;
}
button:hover, #adv-button :hover{
    background-color: black;
}
}
#google {
    font-family: $font;
    position: absolute;
    top: 35%;
    right: 28%;
    font-size: 600%;
}
 html {
    height: 100%;
    width: 100%;
 }
 #centro {
    width: 100%;
    height: 100%;
 }

@media (max-width :700px){
  $font :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    body {
        background-color: whitesmoke;
    }

#round {
    border-radius: 15px;
    width: 400px;
    height: 20px;
    padding: 10px;
    position: absolute;
    left: 20%;
    top: 70%;
    right: 50%

}
#seach {
    position: absolute;
    left: 39%;
    top: 80%;
    font-size: 100%;
    width: 150px;
    border: none;
    font-family: $font;
    background-color: whitesmoke;

}
#seach:hover {
    border: 1px solid white;
}
#ifl:hover {
    border: 1px solid black;
    background-color: gray;
}
button {
    background-color: white;
    font-weight: bolder;
    position: absolute;
    left: 80%;
    text-decoration: gray;
}
#adv-button {
    background-color: white;
    font-weight: bolder;
    position: absolute;
    left: 90%;
}
button:hover, #adv-button :hover{
    background-color: black;
}
#google {
    font-family: $font;
    position: absolute;
    left: 35%;
    top: 20%;
    right: 50%;
    font-size: 500%;
}
}